node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env*.local
*.log
npm-debug.log*
.DS_Store
coverage/
.turbo/
.vercel
*.tsbuildinfo
.expo/
android/
ios/
*.apk
*.aab
*.keystore
!debug.keystore
supabase/.temp/

# Local Netlify folder
.netlify
